/* General CSS */
.section1 {
  margin-top: ;
}

.navbar {
      margin-bottom: ;
      border-radius: 0;
    }

    @media (min-width: 992px) {
      body {
        padding-top: 56px;
      }


.navbar-nav {
    color: white;
  }

#links {
  align-items: center;

}

// Class
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Usage as a mixin
.element {
  .center-block();
}

.text-center {
  margin-top: 50px !important;
}

h1 {
  color: #302423 !important;
}

cntctMsg {
  margin-bottom: 50px;
}
